
<div class="container-fluid">
    <nav id="sidebarMenu" class="sidebar">
            <h1>Instagram</h1>
        <div class="itens">
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "home.svg", alt: "home" %>
                <span>Página inicial</span>
            </a>
            <a class="nav-item" href="#">
                <%= image_tag "search.svg", alt: "search" %>
                <span>Pesquisa</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "explorer.svg", alt: "explorer" %>
                <span> Explorar</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "reels.svg", alt: "reels" %>
                <span> Reels</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "messages.svg", alt: "messages" %>
                <span>Mensagens</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "notifications.svg", alt: "notifications" %>
                <span>Notificações</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "create.svg", alt: "create" %>
                <span>Criar</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "profile.svg", alt: "profile" %>
                <span>Perfil</span>
            </a>
            <a class="nav-item" aria-current="page" href="#">
                <%= image_tag "more.svg", alt: "more" %>
                <span>Mais</span>
            </a>
        </div>
    </nav>

    <div class="feed">
        <div class="feed-posts">
            <div class="story"> 
                <div> foto </div>
                <span class="user-name"> Nome da pessoa</span>
            </div>
            <article class="posts"> 
                <div class="infos">
                    <div class="photo-user"> </div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <span> . </span> 
                    <time> horas </time>
                    <a> lugar </a>
                </div>
                <div class="post"> foto ou video 
                    <div class="next-post"> 
                        <%= image_tag "arrowback.svg", alt: "messages" %>
                    </div>
                    <div class="next-post"> 
                        <%= image_tag "arrowfoward.svg", alt: "messages" %>
                    </div>
                </div>
                <div class="interactions"> 
                    <div class="actions"> 
                        <%= image_tag "notifications.svg", alt: "messages" %>
                    </div>
                    <div class="actions"> 
                        <%= image_tag "chat.svg", alt: "messages" %>
                    </div>
                     <div class="actions"> 
                        <%= image_tag "share.svg", alt: "messages" %>
                    </div>
                    <div class="actions"> 
                        <%= image_tag "save.svg", alt: "messages" %>
                    </div>
                </div>
                <span> 9.000 curtidas </span>
                <div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <div> legenda</div>
                </div>
                <div> comentarios </div>
                <div> adicione um comentário </div>
            </article>
            <article class="posts"> 
                <div class="infos">
                    <div class="photo-user"></div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <span> . </span> 
                    <time> horas </time>
                    <a> lugar </a>
                </div>
                <div class="post"> foto ou video 
                    <div class="next-post"> 
                        <%= image_tag "arrowback.svg", alt: "messages" %>
                    </div>
                    <div class="next-post"> 
                        <%= image_tag "arrowfoward.svg", alt: "messages" %>
                    </div>
                </div>
                <div class="interactions"> 
                    <div class="actions"> 
                        <%= image_tag "notifications.svg", alt: "messages" %>
                    </div>
                    <div class="actions"> 
                        <%= image_tag "chat.svg", alt: "messages" %>
                    </div>
                     <div class="actions"> 
                        <%= image_tag "share.svg", alt: "messages" %>
                    </div>
                    <div class="actions"> 
                        <%= image_tag "save.svg", alt: "messages" %>
                    </div>
                </div>
                <span> 9.000 curtidas </span>
                <div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <div> legenda</div>
                </div>
                <div> comentarios </div>
                <div> adicione um comentário </div>
            </article>
        </div>

        <div class="sugests">
            <div>
                Meu perfil
            </div>
            <div>
                <div class="infos">
                    <div class="photo-user"></div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <a> Nome pore extenso</a>
                </div>
                <div>
                    <div> sugestões para você</div> 
                    <a> ver tudo</a>
                </div>
                <div class="infos">
                    <div class="photo-user"></div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <a> Nome pore extenso</a>
                </div>
                <div class="infos">
                    <div class="photo-user"></div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <a> Nome pore extenso</a>
                </div>
                <div class="infos">
                    <div class="photo-user"></div>
                    <span class="user-name"> Nome da pessoa</span> 
                    <a> Nome pore extenso</a>
                </div>
            </div>
        </div>
    </div>
</div>